# Ignore everything
*

# But not these folders and all their contents
!backend/
!backend/**
!frontend/
!frontend/**

# Also ignore:
.vscode/
firebase-debug.log
firebase.json
firestore.indexes.json
firestore.rules
